<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="browser" value="PhantomJS"/>
    <add key="siteUrl" value="http://localhost:43507"/>
    <add key="port" value="43507"/>
    <add key ="iisExpressPath" value="C:\Program Files (x86)\IIS Express\iisexpress.exe"/>
  </appSettings>
</configuration>